body {
  font-size: 16px;
  color: #fff;
  background-color: #eee8aa;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: #ffffff;
	border-radius: 0;
	border:0;

}
#logo-img{
	background: url('../images/logo.png') no-repeat;
	width:150px;
	height:150px;
	margin:10px 15px 10px 0;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Big Shoulders Stencil Text', cursive;
	color:#706e67;
	font-size: 2.2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 1px;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none; 
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
#nav-list{
	margin-top: 20px;
}
#nav-list a{
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
	text-decoration:none;
}
#nav-list a span{
	font-size: 2em;


}
#phone{
	margin-top: 5px;
}
#phone a{
	font-size: 10px;
	text-align: right;
	padding-bottom: 0;
	margin-left: 5px;
}

#donateid{
	margin-right: 4px;
	text-align: center;
}
#aboutid{
	margin-left: 4px;

	text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
#donbutton{
	margin-bottom: 20px;

}

@media (min-width: 1200px){
.jumbotron{
	background: url('../images/background1920.jpg') no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
}

@media(min-width: 992px) and (max-width: 1199px){
.jumbotron{
	background: url('../images/background1920.jpg') no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
}

@media(min-width: 768px) and (max-width: 991px){
.jumbotron{
	background: url('../images/background1920.jpg') no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
}
@media (max-width: :767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1{
		padding-top:10px;
		font-size: 5vw;
	}
	.navbar-brand p{
		text-transform: uppercase;
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand p img{
		height: 20px;
	}
	.jumbotron{
		margin-top: 30px;
		padding: 0;
		box-shadow: 0 0 50px #3F0C1F;
		border: 2px solid #3F0C1F;
	}
}